#top{
  text-align: center;
  color: green;
}

.main{
  display: grid;
  grid-template-columns: 2fr, 1fr;
  gap:30px;
}

.style1 {
  font-family: 'Playfair Display', cursive; /*google font 2*/
  display:table-row;
  border: 1px solid black;
  width: 20%;
}

.heading{
  display: table-row;
  border: 1px solid black;
  width: 20%;
  text-align: center;
}

.table{
  display: table;
  border: 1px solid black;
  border-collapse: collapse;
}

#time{
  font-style: italic;
  display: table-cell;
  border: 1px solid black;
  width: 20%;
}

#greenish{
  background-color: yellowgreen;
  display: table-cell;
  border: 1px solid black;
  width: 20%;
}

#green{
  background-color: green;
  display: table-cell;
  border: 1px solid black;
  width: 20%;
}

#white{
  background-color: white;
  display: table-cell;
  border: 1px solid black;
  width: 20%;
}

#exec{
  text-align: center;
}

#bottom{
  width: 25%;
  border: 2px;
  border-style: double;
  border-color: black;
  background-color: lightgreen;
  font-family: 'Dancing Script'; /*google font 1*/
  float: right;
  margin-top: 124px;
}

